@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-caroline: 134, 187, 216;
  --background-lilac: 207, 173, 190;
  --background-lavender: 222, 212, 243;
  --accent: hsl(325, 100%, 89%);

 
  --primary: hsl(0, 0%, 0%);

  --imageBackground: hsl(216 , 98% , 77%);
 
  --main: hsl(0, 0%, 0%);

  --navbar: hsl(185, 96%, 90%); /*rgb(207 250 254)*/
  --navbar-foreground: hsl(0, 0%, 0%);
}
.dark{
  --accent: hsl(254, 23%, 21%);

 
  --primary: hsl(0, 100%, 100%);

 --imageBackground:hsl(30, 100%, 50%);
 
  --main: hsl(30, 100%, 50%);

  --navbar: hsl(0, 0%, 0%);
  --navbar-foreground: hsl(0, 100%, 100%);
}
}
